@charset "UTF-8";

@media all {
    .center {
        width: 65vw;
        margin: 0 auto;
        padding: 2em;
    }

    table {
        width: 200px;
        empty-cells: hide;
        border: 1px solid grey;
        margin: 1em;
        padding: 1em;
        display: inline-block;
    }
}
